*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-group {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #3e8e41;
  letter-spacing: 2px;
  padding: 15px 40px;
  transition-property: padding, letter-spacing;
  transition-duration: 0.5s;          
}
input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
